[submodule "Middleware/sqlite"]
	path = Middleware/sqlite
	url = git@github.com:sqlite/sqlite.git
[submodule "Middleware/glib"]
	path = Middleware/glib
	url = git@github.com:GNOME/glib.git
[submodule "Middleware/cJSON"]
	path = Middleware/cJSON
	url = git@github.com:DaveGamble/cJSON.git
[submodule "Middleware/POPT"]
	path = Middleware/POPT
	url = https://github.com/devzero2000/POPT
[submodule "Middleware/logrotate"]
	path = Middleware/logrotate
	url = https://github.com/logrotate/logrotate
[submodule "Middleware/busybox"]
	path = Middleware/busybox
	url = https://github.com/mirror/busybox.git
